
/* *******Navbar********* */
.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: tomato;
}

.navContainer h4 {
  color: white;
}

.navContainer .navLink {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 0px 10px;
}

.navContainer .navLink:hover {
  opacity: 0.5;
}

.navContainer span {
  color: white;
  border: 2px solid white;
  padding: 5px;
}



/* **********Product********** */
.productContainer {
  display: flex;
  width: 250px;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgrey;
  border-radius: 10px;
}

.productContainer img {
  height: 100px;
}

.productContainer .productTitle {
  font-size: 15px;
}

.productContainer .productPrice {
  font-size: 20px;
  font-weight: bold;
}

.addBtn {
  font-size: 15px;
  padding: 5px 10px;
  border: 2px solid tomato;
  background-color: white;
  border-radius: 5px;
}

.addBtn:hover {
  cursor: pointer;
  background-color: tomato;
  color: white;
}

/* *********Products************* */
.productsContainer {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

/* **********Home*************** */
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeTitle {
  border-bottom: 5px solid tomato;
}

/* ***********Cart*********** */

.cartContainer {
  width: 50%;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cartProductContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid lightgray;
  border-radius: 5px; 
  padding: 10px;
}

.cartProductImage {
  height: 100px;
}
